// Styling for header section

header{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 120px;
    background: url(../img/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    p{
        font-size: 23px;
    }
    #selfwr-text{
        height: 100px;
        .item-1, 
        .item-2, 
        .item-3 {
            color: $primary-color;
            font-weight: 600;
            font-size: 2.2rem;
            position: absolute;
            display: block;
            width: 100%;
            animation-duration: 12s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
        
        .item-1{
            animation-name: anim-1;
        }
        
        .item-2{
            animation-name: anim-2;
        }
        
        .item-3{
            animation-name: anim-3;
        }
        
        @-webkit-keyframes anim-1{
            0%, 8.3% { left: -100%; opacity: 0; }
            8.3%, 25% { left: 0%; opacity: 1; }
            33.33%, 100% { left: 100%; opacity: 0; }
        }

        @-webkit-keyframes anim-2 {
            0%, 33.33% { left: -100%; opacity: 0; }
            41.63%, 58.29% { left: 0%; opacity: 1; }
            66.66%, 100% { left: 100%; opacity: 0; }
        }

        @-webkit-keyframes anim-3{
            0%, 66.66% { left: -100%; opacity: 0; }
            74.96%, 91.62% { left: 0%; opacity: 1; }
            100% { left: 100%; opacity: 0; }
        }

        // @-webkit-keyframes anim-4 {
        //     0%, 99.99% { left: -100%; opacity: 0; }
        //     107%, 124% { left: 0%; opacity: 1; }
        //     100% { left: 110%; opacity: 0; }
        // }
        @keyframes anim-1 {
            0%, 8.3% { left: -100%; opacity: 0; }
            8.3%, 25% { left: 0%; opacity: 1; }
            33.33%, 100% { left: 100%; opacity: 0; }
        }
        
        @keyframes anim-2 {
            0%, 33.33% { left: -100%; opacity: 0; }
            41.63%, 58.29% { left: 0%; opacity: 1; }
            66.66%, 100% { left: 100%; opacity: 0; }
        }
        @keyframes anim-3 {
            0%, 66.66% { left: -100%; opacity: 0; }
            74.96%, 91.62% { left: 0%; opacity: 1; }
            100% { left: 100%; opacity: 0; }
        }
        // @keyframes anim-4 {
        //     0%, 99.99% { left: -100%; opacity: 0; }
        //     107%, 124% { left: 0%; opacity: 1; }
        //     100% { left: 110%; opacity: 0; }
        // }
    }
}

.btn-cont{
    .btn-more{
        border-radius: 0;
        color: #fff !important;
        padding: 10px 35px;    
        background:linear-gradient(to right, #FEB41E 0%, #f0bf6a 50%, #f5a70a 100%);
        background-size: 200% auto;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        transition: background-position 0.5s;
        &:hover{
            background-position: right center;
        }
    }
}

@media (min-width: 768px){
    .header{
        #selfwr-text {
            height: 80px;
            .item-1, 
            .item-2, 
            .item-3 {
                font-size: 2.4rem;
            }
        }
        h2{
            font-size: 1.6rem;
        }
        p{
            font-size: 21px;
        }
    }
    .btn-cont{
        .btn-more{
            padding: 12px 40px;    
            font-size: 1.1rem;
        }
    }
}