html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem; }

section {
  padding: 100px 0; }

::-moz-selection {
  background: #feb41d;
  color: white;
  text-shadow: none; }

::selection {
  background: #feb41d;
  color: white;
  text-shadow: none; }

*:focus {
  outline: none !important; }

.heading-text {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 1.7rem;
  font-weight: 600; }

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  .text-vertical-center h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    padding: 0; }

.small {
  max-width: 100px; }

p {
  font-size: 1.09rem; }

.text-primary {
  color: #feb41d !important; }

.bg-light {
  background-color: #f9f9fa !important; }

#mainNav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0; }
  #mainNav .navbar-brand {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.25rem;
    line-height: inherit;
    color: #feb41d;
    display: inline-block; }
    #mainNav .navbar-brand #title-img {
      width: 3rem;
      height: 3rem;
      margin: 15px 0;
      vertical-align: middle; }
      #mainNav .navbar-brand #title-img:hover, #mainNav .navbar-brand #title-img:focus, #mainNav .navbar-brand #title-img:active {
        -webkit-animation: spin 6s ease-out infinite;
        -moz-animation: spin 6s ease-out infinite;
        animation: spin 6s ease-out infinite; }
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
    #mainNav .navbar-brand #navbrand-title {
      margin-left: 15px;
      vertical-align: middle; }
  #mainNav .navbar-toggler {
    color: #fff;
    border: none;
    padding: .85rem 1.2rem;
    vertical-align: middle; }
    #mainNav .navbar-toggler:hover {
      opacity: 0.4; }
    #mainNav .navbar-toggler #nav-icon {
      height: 17px;
      width: 28px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      #mainNav .navbar-toggler #nav-icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: white;
        border-radius: 0;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        #mainNav .navbar-toggler #nav-icon span:nth-child(1) {
          top: 0px; }
        #mainNav .navbar-toggler #nav-icon span:nth-child(2) {
          top: 7px; }
        #mainNav .navbar-toggler #nav-icon span:nth-child(3) {
          top: 14px; }
      #mainNav .navbar-toggler #nav-icon.open span:nth-child(1) {
        top: 7px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg); }
      #mainNav .navbar-toggler #nav-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px; }
      #mainNav .navbar-toggler #nav-icon.open span:nth-child(3) {
        top: 7px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg); }
  #mainNav .navbar-nav .nav-item .nav-link {
    display: block;
    font-size: 13px;
    padding: 2rem 1.1rem;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: background .5s ease-in,border .5s ease-in;
    transition: background .5s ease-in,border .5s ease-in; }
    #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link.active {
      border-color: #feb41d;
      background-color: rgba(51, 50, 50, 0.6);
      color: #feb41d;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      transition: all ease .5s; }

@media (min-width: 992px) {
  #mainNav {
    transition: padding-top .3s,padding-bottom .3s;
    border: none; }
    #mainNav .navbar-brand {
      font-size: 1.35rem;
      transition: all .3s; }
    #mainNav .nav-link {
      font-size: 13px; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgba(0, 0, 0, 0.8); }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.1em; }
        #mainNav.navbar-shrink .navbar-brand #title-img {
          width: 2rem;
          height: 2rem; } }
.header {
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 120px;
  background: url(../img/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .header p {
    font-size: 23px; }
  .header #selfwr-text {
    height: 80px; }
    .header #selfwr-text .item-1,
    .header #selfwr-text .item-2,
    .header #selfwr-text .item-3,
    .header #selfwr-text .item-4 {
      color: #feb41d;
      font-weight: 600;
      font-size: 2.4rem;
      position: absolute;
      display: block;
      width: 100%;
      animation-duration: 12s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite; }
    .header #selfwr-text .item-1 {
      animation-name: anim-1; }
    .header #selfwr-text .item-2 {
      animation-name: anim-2; }
    .header #selfwr-text .item-3 {
      animation-name: anim-3; }
    .header #selfwr-text .item-4 {
      animation-name: anim-4; }
@keyframes anim-1 {
  0%, 8.3% {
    left: -100%;
    opacity: 0; }
  8.3%,25% {
    left: 0%;
    opacity: 1; }
  33.33%, 100% {
    left: 100%;
    opacity: 0; } }
@keyframes anim-2 {
  0%, 33.33% {
    left: -100%;
    opacity: 0; }
  41.63%, 58.29% {
    left: 0%;
    opacity: 1; }
  66.66%, 100% {
    left: 110%;
    opacity: 0; } }
@keyframes anim-3 {
  0%, 66.66% {
    left: -100%;
    opacity: 0; }
  74.96%, 91.62% {
    left: 0%;
    opacity: 1; }
  100% {
    left: 110%;
    opacity: 0; } }
@keyframes anim-4 {
  0%, 99.99% {
    left: -100%;
    opacity: 0; }
  107%, 124% {
    left: 0%;
    opacity: 1; }
  100% {
    left: 110%;
    opacity: 0; } }
.btn-cont .btn-more {
  border-radius: 0;
  color: #fff !important;
  padding: 12px 40px;
  background: linear-gradient(to right, #FEB41E 0%, #f0bf6a 50%, #f5a70a 100%);
  background-size: 200% auto;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-position 0.5s; }
  .btn-cont .btn-more:hover {
    background-position: right center; }

#products {
  background-color: #feb41d;
  color: white; }
  #products .section-heading {
    margin-bottom: 50px; }
  #products .sub-text {
    opacity: 0.8; }

#services .heading-text {
  margin-bottom: 75px; }
#services .fa-4x {
  font-size: 3.5em !important; }
#services h4.service-heading {
  margin-top: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem; }
#services p {
  font-size: 1.09rem; }

#clients .small {
  margin-bottom: 25px; }
#clients .centered {
  height: auto;
  display: flex;
  align-items: center; }
  #clients .centered .client-item .client-title.text {
    font-family: "Cormorant Garamond";
    font-size: 25px;
    letter-spacing: 3px;
    margin-left: 8px;
    transition: 400ms;
    opacity: 0.8;
    cursor: default; }
    #clients .centered .client-item .client-title.text:hover {
      opacity: 0.6; }
  #clients .centered .client-item img {
    width: 6rem;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    background-color: white;
    mix-blend-mode: multiply;
    transition: 400ms;
    opacity: 0.9; }
    #clients .centered .client-item img:hover {
      opacity: .6; }
    img > #clients .centered .client-item img:nth-child(4) {
      width: 20px; }

#about .section-heading {
  margin-bottom: 55px; }
#about h4 {
  font-size: 1.2rem; }
#about .tech-item {
  margin: 1rem; }
  #about .tech-item img {
    width: 7rem; }
    #about .tech-item img.icon {
      width: 4rem; }

#contact .form-group {
  margin-bottom: 1.67rem; }
  #contact .form-group input {
    padding: 1rem;
    color: #868e96; }
  #contact .form-group textarea.form-control {
    height: 12.6rem; }
  #contact .form-group textarea {
    padding: 1rem; }
#contact .form-control {
  font-size: .8rem;
  letter-spacing: 1px;
  border-radius: 0 !important; }
  #contact .form-control:focus {
    border-color: #feb41d;
    box-shadow: none; }
#contact ::-webkit-input-placeholder {
  font-weight: 500;
  color: #868e96;
  text-transform: uppercase; }
#contact :-moz-placeholder {
  font-weight: 500;
  color: #868e96;
  text-transform: uppercase; }
#contact ::-moz-placeholder {
  font-weight: 500;
  color: #868e96;
  text-transform: uppercase; }
#contact :-ms-input-placeholder {
  font-weight: 500;
  color: #868e96;
  text-transform: uppercase; }

label {
  color: red; }

#map {
  padding: 0;
  height: 500px; }
  #map iframe {
    width: 100%;
    height: 100%; }

footer h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1em; }
footer .list-unstyled a {
  color: #feb41d; }
  footer .list-unstyled a:hover {
    color: #e9b24d; }
footer a {
  color: rgba(30, 30, 30, 0.6);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }
  footer a:active, footer a:hover {
    color: #feb41d;
    text-decoration: none; }
footer p {
  font-size: 13px; }
footer .list-unstyled li:nth-child(2) {
  margin-left: 25px; }
footer .list-inline-item i {
  font-size: 1.5em; }
footer #to-top {
  font-size: 1.1em;
  position: fixed;
  right: 5px;
  bottom: 5px;
  padding: 16px;
  display: none;
  background-color: #feb41d;
  color: white;
  border-radius: 0; }
  footer #to-top:hover {
    opacity: 0.7;
    border: 0; }

/*# sourceMappingURL=style.css.map */
